{% extends "bloque.html" %}

{% block title %}Inicio - Mi Página Web{% endblock %}

{% block content %}
      <!-- end header inner -->
      <!-- end header -->
      <div class="back_re">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="title">
                     <h2>Nuestros Hoteles</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- our_room -->
      <div  class="our_room">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <p  class="margin_0">A continuación puede ver nuestros hoteles</p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4 col-sm-6">
                  <div id="serv_hover"  class="room">
                     <div class="room_img">
                        <figure><img src="{{ url_for('static', filename = 'images/paris.jpg')  }}" alt="#" width="150" height="150"/></figure>
                     </div>
                     <div class="bed_room">
                        <h3>París</h3>
                        <p>Hotel en el centro parisino con espectacular vista a la Torre Eiffel y vía directa al arco del triunfo</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6">
                  <div id="serv_hover"  class="room">
                     <div class="room_img">
                        <figure><img src="{{ url_for('static', filename = 'images/berlin.jpg')  }}" alt="#" width="150" height="150"/></figure>
                     </div>
                     <div class="bed_room">
                        <h3>Berlín</h3>
                        <p>Hotel en el centro de la capital Alemana, a escasos metros del museo Classic Remise de Berlín, un museo de autos de todo tipo</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6">
                  <div id="serv_hover"  class="room">
                     <div class="room_img">
                        <figure><img src="{{ url_for('static', filename = 'images/dubai.jpg')  }}" alt="#" width="150" height="150"/></figure>
                     </div>
                     <div class="bed_room">
                        <h3>Dubai</h3>
                        <p>Este lujoso hotel en los Emiratos Arabes Unidos, posee el skybar mas famoso del hemisferio norte</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6">
                  <div id="serv_hover"  class="room">
                     <div class="room_img">
                        <figure><img src="{{ url_for('static', filename = 'images/buenosaires.jpg')  }}" alt="#" width="150" height="150"/></figure>
                     </div>
                     <div class="bed_room">
                        <h3>Buenos Aires</h3>
                        <p>Situado en Puerto Madero, se encuentra nuestro Hotel Faena, el mas exclusivo de toda América del Sur</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6">
                  <div id="serv_hover"  class="room">
                     <div class="room_img">
                        <figure><img src="{{ url_for('static', filename = 'images/singapur.jpg')  }}" alt="#" width="150" height="150"/></figure>
                     </div>
                     <div class="bed_room">
                        <h3>Singapur</h3>
                        <p>Precioso hotel con vistas al océano pacífico. En el último piso cuenta con restaurant y una piscina olímpica</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6">
                  <div id="serv_hover"  class="room">
                     <div class="room_img">
                        <figure><img src="{{ url_for('static', filename = 'images/suiza.jpg')  }}" alt="#" width="150" height="150"/></figure>
                     </div>
                     <div class="bed_room">
                        <h3>Suiza</h3>
                        <p>Conozca nuestro hotel a los píes de los Alpes Suizos, y disfrute de las actividades de invierno como el sky</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end our_room -->
     
      <!--  footer -->
      {% endblock %}	
</html>