<!DOCTYPE html>
{% extends "bloque.html" %}

{% block title %}Detalles de Reserva - Mi Página Web{% endblock %}

{% block content %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de Reserva</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/cancelacion.css') }}">
</head>

<body>
    <div class="container">
        <h1>Detalles de la Reserva</h1>
        <div class="reserva-info">
            <div class="info-item">
                <span class="info-label">Fecha de Ingreso:</span>
                <span class="info-value">{{ reserva.fecha_ingreso }}</span>
            </div>
            <div class="info-item">
                <span class="info-label">Fecha de Egreso:</span>
                <span class="info-value">{{ reserva.fecha_egreso }}</span>
            </div>
            <div class="info-item">
                <span class="info-label">Hotel:</span>
                <span class="info-value">{{ hotel.ubicacion }}</span>
            </div>

            <div class="info-item">
                <span class="info-label">Número de Reserva:</span>
                <span class="info-value">{{ reserva.reservas_id }}</span>
            </div>
        </div>

        <form method="POST" action="{{ url_for('cancelar_reserva', id=reserva.reservas_id) }}">
            <button type="submit" class="cancelar-btn">Cancelar Reserva</button>
        </form>

    </div>
</body>

</html>
{% endblock %}