{% extends "bloque.html" %}

{% block title %}Inicio - Mi Página Web{% endblock %}

{% block content %}
<!-- end header inner -->
<!-- end header -->
<div class="back_re">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="title">
               <h2>INICIAR SESIÓN</h2>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- about -->
<div class="about">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-5">
            <div class="titlepage">
               <div class="cons_reserva">
                  <h1>A continuación, ingrese los datos solicitados</h1>
                  <br>
                  <label for="email">Ingrese su mail para iniciar sesión:</label>
                  <form class="singin-form" method="POST">
                     <input class="input-singin-form" type="text" id="email" name="email" required>
                     <button class="btn-singin-form"  type="submit" class="submit-button">Iniciar sesión</button>
                  </form>
                  <br>
                  <br>
               </div>


               {% if error %}
               <div class="alert alert-danger" role="alert">
                  {{ error }}
               </div>
               {% endif %}

            </div>
         </div>
         <div class="col-md-7">
            <div class="about_img">
               <figure><img src="{{ url_for('static', filename = 'images/singapur.jpg')  }}" alt="#" /></figure>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- end about -->


<!--  footer -->
{% endblock %}