<!DOCTYPE html>
{% extends "bloque.html" %}

{% block title %}Inicio - Mi Página Web{% endblock %}

{% block content %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Reservas</title>
</head>

<body>
    <div class="container">
        <h1>Tus Reservas</h1>

        {% if reservas|length > 0 %}
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Fecha</th>
                    <th>Habitación</th>
                    <th>Hotel</th>
                    <th>Reserva</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                {% for reserva in reservas %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ reserva.fecha_ingreso }}</td>
                    <td>{{ reserva.habilitado }}</td>
                    <td>{{ reserva.hotel_id }}</td>
                    <td>{{ reserva.reservas_id }}</td>
                    <td>
                        <a href="{{url_for('cancelar_reserva', id=reserva.reservas_id)}}" class="cancelar-btn"> Cancelar
                            reserva
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p class="no-reservas">No tienes reservas registradas.</p>
        {% endif %}
        <form method="POST" action="{{url_for('logout')}}">
            <button type="submit" class="logout-btn">Cerrar sesión</button>
        </form>
    </div>
    {% endblock %}
</body>

</html>