{% extends "bloque.html" %}

{% block title %}Inicio - Mi Página Web{% endblock %}

{% block content %}
<div class="page-container" style="display: flex; flex-direction: column; height: 100vh;">
    <div class="top-half" style="flex: 2;">
        <div class="back_re">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title">
                            <h2>HACE TU RESERVA</h2>
                            <div style="height: 5px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form id="request" class="main_form" onsubmit="submitReserva(event)">
                <div class="row">
                    <div class="col-md-12">
                        <input class="contactus" placeholder="Email" type="email" name="Email" id="Email" required>
                    </div>
                    <div class="col-md-12">
                        <input class="contactus" placeholder="Fecha de ingreso" type="date" id="Ingreso" name="Ingreso"
                            required>
                    </div>
                    <div class="col-md-12">
                        <input class="contactus" placeholder="Fecha de egreso" type="date" id="Egreso" name="Egreso"
                            required>
                    </div>
                    <div class="col-md-12">
                        <select class="contactus" id="hotel_id" name="hotel_id" required>
                            <option value="" disabled selected>Selecciona un hotel</option>
                            {% for hotel in hoteles %}
                            {% if hotel.habilitado %}
                            <option value="{{ hotel.hotel_id }}" data-ubicacion="{{ hotel.ubicacion }}">
                                {{ hotel.nombre }}
                            </option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-12">
                        <select class="contactus" id="habitacion_id" name="habitacion_id" required>
                            <option value="" disabled selected>Selecciona una habitación</option>
                        </select>
                    </div>
                    <div class="col-md-12">
                        <button class="send_btn" type="submit">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6 padding-top">
            <div id="map" style="width: 100%; height: 100%;"></div>
        </div>
    </div>

   <script src="{{ url_for('static', filename = 'js/reservas.js') }}"></script>
   <script src="{{ url_for('static', filename = 'js/google-map.js') }}"></script>

    {% endblock %}