{% extends "bloque.html" %}

{% block title %}Inicio - Mi Página Web{% endblock %}

{% block content %}
      <!-- end header inner -->
      <!-- end header -->
      <div class="back_re">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="title">
                    <h2>Galería</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- gallery -->
      <div  class="gallery">
         <div class="container">
           
            <div class="row">
               {% for imagen in imagenes %}
               <div class="col-md-3 col-sm-6">
                  <div class="gallery_img">
                     <figure><img src="{{ imagen.url  }}" alt="{{ imagen.id  }}"/></figure>
                  </div>
               </div>
               {% endfor %}
            </div>
         </div>
      </div>
      <!-- end gallery -->
    
      <!--  footer -->
      {% endblock %}	
</html>